# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/ui/my-app/node_modules

# IDEs and editors
/ui/my-app/.idea
/ui/my-app.project
/ui/my-app.classpath
/ui/my-app.c9/
/ui/my-app*.launch
/ui/my-app.settings/
/ui/my-app*.sublime-workspace

# IDE - VSCode
/ui/my-app/.vscode/*
/ui/my-app/!.vscode/settings.json
/ui/my-app/!.vscode/tasks.json
/ui/my-app/!.vscode/launch.json
/ui/my-app/!.vscode/extensions.json

# misc
/ui/my-app/.sass-cache
/ui/my-app/connect.lock
/ui/my-app/coverage
/ui/my-app/libpeerconnection.log
/ui/my-app/npm-debug.log
/ui/my-app/testem.log
/ui/my-app/typings

# e2e
/ui/my-app/e2e/*.js
/ui/my-app/e2e/*.map

# System Files
/ui/my-app.DS_Store
/ui/my-appThumbs.db