<div class="row">
    <h1>Lista de Produtos</h1>
    <div class="col-4 mb-3" *ngFor="let item of products">
        <div class="card">
            <img src="http://localhost:8080/produto/imagem/{{item.imagem}}" class="card-img-top">
            <div class="card-body">
                <p class="card-text">{{ item.descricao }}</p>
                <h5 class="card-title">R$ {{ item.preco }}</h5>
                <div class="alert" [ngClass]="item.estoque ? 'alert-success' : 'alert-danger'">
                    {{ item.estoque ? 'Disponivel' : 'Indisponivel' }}
                </div>
            </div>
        </div>
    </div>
</div>